<%- include('header') -%>

<section>
	<h1>ADD a gig</h1>
	<form action="/gigs/add" method="POST">
		<label for="title">Gig Title</label>
		<input type="text" name="title" required><br>

		<label for="technologies">Gig technologies</label>
		<input type="text" name="technologies" required><br>

		<label for="gigs_description">Gig description</label>
		<input type="text" name="gigs_description" required><br>

		<label for="budget">Gig budget</label>
		<input type="text" name="budget" required><br>

		<label for="contact_email">Gig contact_email</label>
		<input type="text" name="contact_email" required><br>

		<input type="submit" value="add gig">
	</form>

</section>

<%- include('footer') -%>