<section id="homePage">
	<div class="container main-section">
		<div class="row">
			<div class="col">
				<div class="jumbotron">
					<h1 class="display-4 main-heading">Hi,There!😄</h1>
					<p class="lead">This is a simple login & signup authentication application with ENCRYPTION based database.</p>
					<hr class="my-4">
					<p>Below you can find the navigating buttons.</p>
					<a class="btn btn-dark active" href="/users/login" role="button">Login</a>
					<a class="btn btn-dark active" href="/users/register" role="button">Sign Up</a>
				</div>

			</div>
		</div>
	</div>

</section>