<section id="loginPage">
	<div class="container main-section">
		<div class="row">

			<div class="col align-self-center text-center">
				<a href="/home"><i class="fas fa-user-circle fa-6x image"></i></a>
				<h1 class="main-heading">Login!</h1>
				<form action="/users/login" method="POST">
					<div class="form-group">
						<input type="email" class="form-control" id="inputEmail" placeholder="Email address" required name="email_address">
					</div>
					<div class="form-group">
						<input type="password" class="form-control" id="inputPassword" placeholder="Password" required name="user_password">
					</div>
					<%- include ("./partials/messages") -%>
					<button type="submit" class="btn btn-block"><i class="fas fa-clipboard-check"></i> Sign In</button>
					<a href="/users/register" class="btn btn-dark btn-block active" role="button" aria-pressed="true"><i class="fas fa-user-plus"></i> Don't have an account!! Click Here.</a>
				</form>
			</div>

		</div>
	</div>

</section>
